<div mat-dialog-content>
    <h1>Tournament: {{data.one.name}}</h1>
</div>
<div mat-dialog-actions>
    <div *ngIf="true">
        <p>Do you want to join?</p>
        <button *ngIf="data.one._singles" mat-raised-button (click)="close()">Join as Player</button>
        <button *ngIf="!data.one._singles" mat-raised-button (click)="close()">Join with Team</button>
        <button class="ml-2" mat-raised-button (click)="close()">Join as Referee</button>
        <span class="filler"></span>
        <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
    </div>
    <div *ngIf="false">
        <p>Already Joined...</p>
        <span class="filler"></span>
        <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
    </div>
    <div *ngIf="false">
        <p>Waiting for response...</p>
        <span class="filler"></span>
        <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
    </div>
</div>