<div mat-dialog-content>
    <h1>Tournament: {{data.one.name}}</h1>
</div>
<div mat-dialog-actions>
    <div *ngIf="chooseDialog == 0">
        <p>Do you want to join?</p>
        <button *ngIf="data.one._singles" mat-raised-button (click)="joinPlayer()">Join as Player</button>
        <button *ngIf="!data.one._singles" mat-raised-button (click)="joinTeam()">Join with Team</button>
        <button class="ml-2" mat-raised-button (click)="joinReferee()">Join as Referee</button>
        <span class="filler"></span>
        <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
    </div>
    <div *ngIf="chooseDialog == 1">
        <p>Waiting for response...</p>
        <span class="filler"></span>
        <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
    </div>
    <div *ngIf="chooseDialog == 2">
        <p>Already Joined...</p>
        <span class="filler"></span>
        <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
    </div>
    <div *ngIf="chooseDialog == 3">
        <div>
            <mat-form-field>
                <mat-label>Choose team:</mat-label>
                <mat-select [(value)]="chosenTeam" required>
                    <mat-option *ngFor="let team of ownTeams" [value]="team.id_team">{{team.name}}</mat-option>
                </mat-select> 
            </mat-form-field>
        </div>
        <div>
            <span class="filler"></span>
            <button class="mt-2" mat-raised-button (click)="joinTeamChosen()">Join</button>
            <button class="mt-2" mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
        </div>
    </div>
    <div *ngIf="chooseDialog == 4">
        <p>Gender does not match. Specify your gender in your account settings and try again!</p>
        <button mat-raised-button (click)="settings()">Settings</button>
        <span class="filler"></span>
        <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
    </div>
    <div *ngIf="chooseDialog == 5">
        <p>Capacity is full...</p>
        <span class="filler"></span>
        <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
    </div>
</div>