<div mat-dialog-content>
        <h1>Team: {{data.one.name}}</h1>
    </div>
    <div mat-dialog-actions>
        <div *ngIf="chooseDialog == 0">
            <p>Do you want to join?</p>
            <button *ngIf="true" mat-raised-button (click)="join()">Yes</button>
            <span class="filler"></span>
            <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
        </div>
        <div *ngIf="chooseDialog == 1">
            <p>Team is full...</p>
            <span class="filler"></span>
            <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
        </div>
        <div *ngIf="chooseDialog == 2">
            <p>Already joined...</p>
            <span class="filler"></span>
            <button mat-raised-button color="primary" (click)="close()" style="float: right;">Close</button>
        </div>
    </div>