.create {
    background-image: url('../../assets/icons/outline_create_black_36dp.png');
    background-size: cover;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}