.one {
  background-image: url('../../assets/icons/outline_account_circle_black_36dp.png');
  background-size: cover;
}

b {
  margin-right: 5px;
}

.filler {
  flex: 1 1 auto;
}

.row {
  width: 99%;
}