.own {
    background-image: url('../../assets/icons/outline_sports_baseball_black_36dp.png');
    background-size: cover;
}

table {
    width: 100%;
}

.mat-row:hover {
    background-color: rgba(0, 0, 0, 0.100);
    cursor: pointer;
}