<div mat-dialog-content>
    <h1>Match update</h1>
</div>
<div mat-dialog-actions>
    <div *ngIf="chooseDialog == 1">
        <p>WARNING! You are not allowed to change this match after result is set!</p>
        <button mat-raised-button (click)="close()" style="float: right;">Close</button>
        <span class="filler"></span>
        <button mat-raised-button color="primary" (click)="close()">Submit</button>
    </div>
    <div *ngIf="chooseDialog == 2">
        <p>Result already submitted!</p>
        <button mat-raised-button (click)="close()" style="float: right;">Close</button>
    </div>
</div>