.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../assets/icons/outline_account_circle_black_36dp.png');
  background-size: cover;
}

.center {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.full-height {
  height: 90%;
}