.one {
    background-image: url('../../assets/icons/outline_sports_baseball_black_36dp.png');
    background-size: cover;
}

.filler {
    flex: 1 1 auto;
 }

.row {
    width: 99%;
}

b {
    margin-right: 5px;
}