<div class="card-body">
    <mat-card *ngIf="data">
        <img *ngIf="globals.logged && ((data.id_player_1 == globals.loggeduserid) || (globals.isAdmin))" style="cursor:pointer; float: right;" height="30" width="30" (click)="openDialog()" src="../../assets/icons/outline_clear_black_36dp.png" />
        <mat-card-header>
            <div mat-card-avatar class="one"></div>
            <mat-card-title>Team: {{data ? data.name : ""}}</mat-card-title>
            <mat-card-subtitle>Detailed view</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Information">
                    <div class="row">
                        <div class="col-sm">
                            <mat-list>
                                <mat-list-item><b>Description:</b>{{data ? data.logo : ""}}</mat-list-item>
                                <mat-list-item><b>Statistics:</b>link</mat-list-item>
                            </mat-list>
                        </div>
                        <div class="col-sm">
                            <mat-list *ngIf="data && players">
                                <mat-list-item *ngFor="let player of players" ><b>Player:</b>{{player.name}} {{player.surname}}</mat-list-item>
                                <mat-list-item *ngIf="players.length == 1" ><b>Player:</b>&lt;Free&gt;</mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>