.future {
    background-image: url('../../assets/icons/outline_playlist_add_black_36dp.png');
    background-size: cover;
}

.current {
    background-image: url('../../assets/icons/outline_playlist_play_black_36dp.png');
    background-size: cover;
}

.past {
    background-image: url('../../assets/icons/outline_playlist_add_check_black_36dp.png');
    background-size: cover;
}

.mat-card-content {
    margin-top: 20px;
}