.example-full-width {
  width: 100%;
}

.create-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-header-image {
  background-image: url('../../assets/icons/outline_account_circle_black_36dp.png');
  background-size: cover;
}