.own {
    background-image: url('../../assets/icons/outline_bar_chart_black_36dp.png');
    background-size: cover;
}

table {
    width: 100%;
}

.mat-row:hover {
    background-color: rgba(0, 0, 0, 0.100);
}

.search {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
}
