<div class="card-body">
    <div class="row">
        <div class="col-sm">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="own"></div>
                    <mat-card-title>Statistics</mat-card-title>
                    <mat-card-subtitle>Overall statistics (every column can be sorted)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Players">
                            <mat-form-field appearance="fill" class="search">
                                <input matInput type="text" (keyup)="doFilter($event.target.value)"
                                    placeholder="Search">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                            <table mat-table [dataSource]="playerDataSource" matSort>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                                </ng-container>

                                <ng-container matColumnDef="won_matches">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Won Matches</th>
                                    <td mat-cell *matCellDef="let element">{{element.won_matches}}</td>
                                </ng-container>

                                <ng-container matColumnDef="lost_matches">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lost Matches</th>
                                    <td mat-cell *matCellDef="let element">{{element.lost_matches}}</td>
                                </ng-container>

                                <ng-container matColumnDef="won_sets">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Won Sets</th>
                                    <td mat-cell *matCellDef="let element">{{element.won_sets}}</td>
                                </ng-container>

                                <ng-container matColumnDef="lost_sets">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lost Sets</th>
                                    <td mat-cell *matCellDef="let element">{{element.lost_sets}}</td>
                                </ng-container>

                                <ng-container matColumnDef="won_games">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Won Games</th>
                                    <td mat-cell *matCellDef="let element">{{element.won_games}}</td>
                                </ng-container>

                                <ng-container matColumnDef="lost_games">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lost Games</th>
                                    <td mat-cell *matCellDef="let element">{{element.lost_games}}</td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </mat-tab>
                        <mat-tab label="Teams" >
                            <mat-form-field appearance="fill" class="search">
                                <input matInput type="text" (keyup)="doFilterTeam($event.target.value)"
                                    placeholder="Search">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                            <table mat-table [dataSource]="teamDataSource" matSort  #sBSort="matSort" >

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                                </ng-container>

                                <ng-container matColumnDef="won_matches">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Won Matches</th>
                                    <td mat-cell *matCellDef="let element">{{element.won_matches}}</td>
                                </ng-container>

                                <ng-container matColumnDef="lost_matches">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lost Matches</th>
                                    <td mat-cell *matCellDef="let element">{{element.lost_matches}}</td>
                                </ng-container>

                                <ng-container matColumnDef="won_sets">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Won Sets</th>
                                    <td mat-cell *matCellDef="let element">{{element.won_sets}}</td>
                                </ng-container>

                                <ng-container matColumnDef="lost_sets">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lost Sets</th>
                                    <td mat-cell *matCellDef="let element">{{element.lost_sets}}</td>
                                </ng-container>

                                <ng-container matColumnDef="won_games">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Won Games</th>
                                    <td mat-cell *matCellDef="let element">{{element.won_games}}</td>
                                </ng-container>

                                <ng-container matColumnDef="lost_games">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lost Games</th>
                                    <td mat-cell *matCellDef="let element">{{element.lost_games}}</td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>