<div class="card-body">
    <mat-card *ngIf="data && (matches.length > 0)">
        <img *ngIf="globals.logged && ((data.id_staff == globals.loggeduserid) || (globals.isAdmin))" style="cursor:pointer; float: right;" height="30" width="30" (click)="openDialog()" src="../../assets/icons/outline_clear_black_36dp.png" />
        <mat-card-header>
            <div mat-card-avatar class="one"></div>
            <mat-card-title>Tournament: {{data ? data.name : ""}}</mat-card-title>
            <mat-card-subtitle>Detailed view</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Information">
                    <div class="row">
                        <div class="col-sm">
                            <mat-list *ngIf="data">
                                <mat-list-item><b>Gender: </b>{{data ? data.type : ""}}</mat-list-item>
                                <mat-list-item><b>Type: </b>{{data._singles ? "Singles" : "Doubles"}}</mat-list-item>
                                <mat-list-item><b>Occupation: </b>{{data ? data.occupation : ""}}/{{data ? data.capacity : ""}}</mat-list-item>
                                <mat-list-item><b>Place: </b>{{data ? data.place : ""}}</mat-list-item>
                                <mat-list-item><b>Date From: </b>{{data ? data.date_from : ""}}</mat-list-item>
                                <mat-list-item><b>Date To: </b>{{data ? data.date_to : ""}}</mat-list-item>
                                <mat-list-item><b>Prize: </b>{{data ? data.prize : ""}} €</mat-list-item>
                                <mat-list-item><b>Register cost: </b>{{data ? data.cost : ""}} €</mat-list-item>
                                <mat-list-item><b>Sponsors: </b>{{data ? data.sponsors : ""}}</mat-list-item>
                            </mat-list>
                        </div>
                        <div class="col-sm">
                            <mat-list *ngIf="data">
                                <mat-list-item><b>{{data._singles ? "Players:" : "Teams:"}}</b></mat-list-item>
                                <span *ngIf="data._singles"><mat-list-item *ngFor="let one of accepted">{{one.name}} {{one.surname}}</mat-list-item></span>
                                <span *ngIf="!data._singles"><mat-list-item *ngFor="let one of accepted">{{one.name}}</mat-list-item></span>
                            </mat-list>
                        </div>
                        <div class="col-sm">
                            <mat-list *ngIf="data">
                                <mat-list-item><b>Referees</b></mat-list-item>
                                <mat-list-item *ngFor="let one of acceptedReferees">{{one.name}} {{one.surname}}</mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                    
                </mat-tab>
                <mat-tab label="Knockout">
                    <tournaments-tree *ngIf="accepted && acceptedReferees" 
                        [capacity]="data.capacity" 
                        [singles]="data._singles" 
                        [matches]="matches" 
                        [accepted]="accepted"
                        [acceptedReferees]="acceptedReferees">
                    </tournaments-tree>
                </mat-tab>
                <mat-tab label="Requests" *ngIf="globals.logged && ((data.id_staff == globals.loggeduserid) || (globals.isAdmin))">
                    <div class="row">
                        <div class="col-sm">
                            <mat-list *ngIf="data">
                                <mat-list-item><b>Attendants:</b></mat-list-item>
                                <mat-list-item *ngFor="let player of pendingPlayers">
                                    <span class="mr-2">{{player.name}} {{player.usrname}}</span>
                                    <button class="mr-2" mat-raised-button color="primary" (click)="accept(player)">Accept</button>
                                    <button mat-raised-button color="warn" (click)="decline(player)">Decline</button>
                                </mat-list-item>
                                <mat-list-item *ngFor="let team of pendingTeams">
                                    <span class="mr-2">{{team.name}}</span>
                                    <button class="mr-2" mat-raised-button color="primary" (click)="accept(team)">Accept</button>
                                    <button mat-raised-button color="warn" (click)="decline(team)">Decline</button>
                                </mat-list-item>
                            </mat-list>
                        </div>
                        <div class="col-sm">
                            <mat-list *ngIf="data">
                                <mat-list-item><b>Referees:</b></mat-list-item>
                                <mat-list-item *ngFor="let referee of pendingReferees">
                                    <span class="mr-2">{{referee.name}} {{referee.usrname}}</span>
                                    <button class="mr-2" mat-raised-button color="primary" (click)="accept(referee)">Accept</button>
                                    <button mat-raised-button color="warn" (click)="decline(referee)">Decline</button>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>